<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Technician Issue Report - Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">



    <!-- DataTables CSS -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/css/issuelist.css" rel="stylesheet">
    <link href="/css/search-result.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('common/sidebar') %>

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include("common/topnavbar") %>
                    <div class="container-fluid">
                        <%- include("common/search-result-section") %>
                        <div class="row">
                            <div class="card shadow mb-4 col-md-12">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Issue Reports</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="issueReportTable" width="100%"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Issue ID</th>
                                                    <th>Approved</th>
                                                    <th>Quotation(Rs)</th>
                                                    <th>Quotation Type</th>
                                                    <th>Budget Est (Rs)</th>
                                                    <th>Parts</th>
                                                    <th>Device Info</th>
                                                    <th>Submitted At</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="issue-report-table-body">
                                                <!-- Sample data - will be populated dynamically -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2024</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
    </div>




    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/js/serach-functionality.js"></script>
    <script>
        let table
        function loadReport() {
            $.ajax({
                url: `/technician/get-issue-reports-list`,
                type: "GET",
                success: function (response) {
                    loadIssueReportInTable(response.data)
                    console.log(response)
                },
                error: function (xhr) {

                }
            })
        }

        function loadIssueReportInTable(issueReportData) {
            table.clear()
            $.each(issueReportData, function (_, issueReport) {
                let quotationTypeIndicator = ""
                if (issueReport.quotation_type === 'none') quotationTypeIndicator = `<span class='btn btn-danger btn-sm'>None</span>`
                else if (issueReport.quotation_type === 'initial') quotationTypeIndicator = `<span class='btn btn-primary btn-sm'>Initial</span>`
                else if (issueReport.quotation_type === 'final') quotationTypeIndicator = `<span class='btn btn-success btn-sm'>Final</span>`
                let statusIdentifier = ""
                if (issueReport.status === "open") statusIdentifier = "danger"
                else if (issueReport.status === "bill-generated") statusIdentifier = "warning"
                else statusIdentifier = "success"
                let submittedOn = issueReport.createdAt ? new Date(issueReport.createdAt) : ""
                let dataText = "-"
                if (submittedOn) dataText = submittedOn.toLocaleDateString()
                let billgenerationButton = ""
                if (issueReport.status === "open" && issueReport.quotation_type === "final" && issueReport.is_approved) billgenerationButton = `<a href="#" class="btn btn-sm btn-warning bill-generation-btn" data-issue-id="${issueReport._id}" title="Generate Invoice"><i class="fas fa-file-alt"></i></a>`
                else if (issueReport.status !== "open") billgenerationButton = `<a href="/view-invoice/${issueReport.issue_human_redable_id}" class="btn btn-sm btn-success bill-generation-btn" data-issue-id="${issueReport._id}" title="View Invoice"><i class="fas fa-file-alt"></i></a>`

                table.row.add([
                    issueReport.issue_human_redable_id || "-",
                    `<div>${issueReport.is_approved ? "<span class='btn btn-outline-success'>Approved</span>" : "<span class='btn btn-outline-warning btn-sm'>Pending</span>"}</div>`,
                    `${issueReport.finalQuotation === 0 ? issueReport.initialQuotation : issueReport.finalQuotation}`,
                    `${quotationTypeIndicator}`,
                    issueReport.budgetEstimation || "-",
                    issueReport.requiredParts || "-",
                    `<div class='d-flex flex-column'><div><strong>Type:</strong>${issueReport.deviceType || "-"}</div> <div><strong>Name:</strong>${issueReport.deviceName || "-"}</div></div>`,
                    `<strong>${dataText}</strong>`,
                    `<div class="btn btn-${statusIdentifier} btn-sm">${issueReport.status.toUpperCase()}</div>`,
                    `<div class="action-buttons">
                                <button class="btn btn-sm btn-primary view-issue-btn" data-issue-id="${issueReport.issue_human_redable_id}"><i class="fas fa-eye"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                                ${billgenerationButton}
                                </div>
                    `

                ])
            })
            table.draw()
        }



        $(document).ready(function () {
            loadReport()
            table = $('#issueReportTable').DataTable({
                paging: true,
                searching: true,   // enables global search box
                ordering: true,
                lengthChange: true,
                pageLength: 10
            });

           
        })

    </script>
</body>

</html>