<% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= error_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (delete_msg && delete_msg.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= delete_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<!-- Bootstrap JS -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
